html,
body,
h1 {
  padding: 0;
  margin: 0;
  font-family: Chivo, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --green: #54e6af;
  --light-green: #b3ffe2;
  --white: #fff;
  --light-gray: #c2cbe5;
  --gray: #979797;
  --mid-gray: #2c344b;
  --dark-gray: #121725;
  --red: #fb3e3e;
  --navy: #121725;
}

.strong-font {
  font-weight: 600;
}

.mt-large {
  margin-top: 3rem;
}

.ml-small {
  margin-left: 27px;
}

.ml-large {
  margin-left: 42px;
}

.min-heiht {
  height: min-content;
}
